
.input {
    margin: 20px 0px;
}

.input label {
    font-size: clamp(15px, 17px, 20px);
    display: block;
    margin-bottom: 8px;
}

.input input {
    margin-bottom: 8px;
    font-size: clamp(15px, 17px, 20px);
    width: 64vw;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 0px;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.08);
}